html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  width: 100%;
  padding: 15px 0; 
}

.footer a {
  text-decoration: none;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}