    /* Sticky footer styles
    -------------------------------------------------- */
    html {
      position: relative;
      min-height: 100%;
    }
    body {
      /* Margin bottom by footer height */
      margin-bottom: 60px;
    }

    .footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 60px;
      line-height: 60px; /* Vertically center the text there */
    }

    .footer a {
      text-decoration: none;
    }


    /* Custom page CSS
    -------------------------------------------------- */
    /* Not required for template or sticky footer method. */

/*
    body > .container {
      padding: 60px 15px 0;
    }
*/
    .footer > .container {
      padding-right: 15px;
      padding-left: 15px;
    }


    .square {
/*        background: url("https://images.unsplash.com/photo-1522204538344-922f76ecc041?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60") 50% 50% no-repeat;*/
        width: 400px;
        height: 400px;
        object-fit: contain;
        display: flex;
        align-items: center;
        justify-content: center;
        background: lightgrey;
    }
