{% extends "base.html" %}

{% load static %}
{% load attr_extras %}


{% block main %}
    <div class="p-5 mb-4 bg-light rounded-3 text-center">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Welcome to Wolf or Not</h1>
        <p class="col">This webpage will show images. Some of them contain a wolf, some do not. Push the according button under the images.</p>
        <a class="btn btn-primary btn-lg"href="{% url 'poll' %}">Start helping</a>

      </div>
    </div>

    <div class="container">
        <h3 class="display-6 fw-bold text-center">What shall I do?</h1>
        <p class="col text-center">You will see an image as follows:</p>

        <div class="col">
            <img src="{% static "/img/example-image.jpg" %}" class="d-block mx-lg-auto img-fluid" alt="Example image showing the parts of the webpage." loading="lazy">
        </div>
        <p class="col">
        You see three areas as numbered in the example image above:
        </p>
        <ol class="list-group">
            <li>The image to be analyzed.</li>
            <li>Some properties like for example the following:
                <ul>
                    <li><b>Multiple Classes</b>: Are several classes visible? This could be a dog and a human. Please check this box and select the class which is more dominant in the image.</li>
                    <li><b>Hard to see</b>: Is the class hard to see like the object / class is hidden behind a tree.</li>
                    <li><b>Multiple instance</b>s: Are multiple instances visible? I.e. several wolves or several humans?</li>
                </ul>
            </li>
            <li>The class selection area: Hit the button representing the most dominant class in this image. After clicking the button, the next image will be loaded.</li>
        </ol>
        <div class="text-center">
            <a class="btn btn-primary btn-lg"href="{% url 'poll' %}">Start helping</a>
        </div>
    </div>
{% endblock %}
