{% extends "base.html" %}

{% load static %}
{% load attr_extras %}


{% block main %}
    <div class="p-5 mb-4 bg-light rounded-3 text-center">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">No more images available</h1>
        <p class="col">
        You and the other participants did a good job! Thank you for contributing. Right now, there are no more images available.<br>
        Please return later to check if we have new wolves (or not?) for you.
        </p>

      </div>
    </div>

{% endblock %}
