{% extends "base.html" %}

{% load static %}
{% load attr_extras %}

{% block main %}
    <div class="p-5 mb-4 bg-light rounded-3 text-center">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">What do you see?</h1>

        <div class="col d-flex align-items-center justify-content-center">
            <div class="square">
                <img src="{{ image.get_image_url }}" alt="Image to check" loading="lazy">
            </div>
        </div>


        <form method="post" action="">
        {% csrf_token %}

        {% if form.errors %}
        <p class="mt-5 mb-3 text-muted">{{ form.errors }}</p>
        {% endif %}

        <div class="col">
            <div class="form-check form-check-inline">

        {% for field in form %}
        {% for prop in field %}

        {{ prop }}

        {% endfor %}

        {% endfor %}
            </div>
        </div>

        <input type="hidden" name="image_uuid" value="{{ image.image_uuid }}"/>
        <div class="col">
        {% for class in classes %}
        <input type="submit" class="btn btn-lg btn-primary" style="background-color: {{ class.class_color }} !important; color: {{class.get_class_font_color}};" name="submit_{{ class.class_id }}" value="{{ class.class_name }}"/>
        {% endfor %}
        </div>

      </form>


      </div>
    </div>
{% endblock %}
