{% extends "base.html" %}

{% load static %}
{% load attr_extras %}

{% block main %}

    <div class="p-5 mb-4 rounded-3 text-center">
      <div class="container-fluid py-5">
      <div class="alert alert-primary" role="alert" id="uploadStatus" style="display:none;">
      </div>

{{ form.media }}
<form method="post" enctype="multipart/form-data" action="" id="uploadForm">
      <div class="form-group">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" class="btn btn-success">
      </div>
</form>

      </div>
    </div>
{% endblock %}
